* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: 0.5s;
}

body {
    background-color: #ada8a1;
}


#home .navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color:rgb(219, 219, 219);
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 10px;
    padding: 10px;
    width: 100%;
    position: fixed;
}

#home .navbar a {
    margin-top: 5px;
    float: right;
    font-size: 11px;
    color: #535352;
    text-align: center;
    padding: 10px;
    margin-left: 5px;
    border-radius: 20px;
    /* background-color: #bbbab8; */
    text-transform: uppercase;
    justify-content: space space-between;
}

.logo {
    float: left;
}

#home .navbar a :hover {
    color: #141414
}

#home .navbar a :before {
    content: "";
    position: absolute;
    inset: calc(100% - 3px) 0 0 0;
    background: transparent;
    scale: 0 1;
    transition: .3s, translate 0s .3s;
}

#home .navbar a :hover:before {
    translate: 0;
    transition: .3s;
}

hr  {
    margin: 0;
    width: 100%;
    background-color: rgb(44, 43, 43);
    position: absolute;
    bottom: 0;
    padding-bottom: 1.5px;
    left: 0px;
}

#main {
    margin : 270px 400px;
    padding: 40px;
    padding-bottom: 5%;
    background-color: #ada8a1;
    margin-right: 5%;
    margin-left: 35%; 
} 

#main .home-content {
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30px;
    color: aliceblue;
    justify-content: space-between;
} 
 #main .content{
    text-align: left;
    margin-left: 600px;
    margin-top: 300px;
    color: #535352;
 }
/* #main .row {
    display: flex;
    padding: 20px;
    background-color: #6c584c;
    border-radius: 20px;
    
  }
  
#main .row .column {
    flex: 33.33%;
    padding: 8px;
    border-radius: 25px;
    padding: 20px;
    width: 200px;
  }

  #main .row .column img{
    
    width: 400px;
    height: 400px;
    object-fit: fill;
    border-radius: 25px;

  } */
.pic img{
    position: absolute;
    height: 400px;
    width: 300px;
    border-radius: 100%;
    border: 100px #bdb9b9;
    left: 180px;
    box-shadow: #070707;
    bottom: 18%;
}

.content{
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    color:aliceblue;
    border: none;
}
.content h2{
    font-size: 50px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}

footer{
    text-align: center;
    color: rgb(20, 20, 20);
    background: #535352;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0%;
    left: 0%;
    z-index: 1;
    font-style: italic;
  }

footer a{
    color: #ddd7d7;
  }

